body {
  margin: 0px;
}
.fr {
  display: flex;
}

.mr_20 {
  margin: 20px;
}

.ml_20 {
  margin: 0px 20px;
}

.mt_24 {
  margin-top: 24px;
}

.mb_0 {
  margin-bottom: 0px;
}

.center {
  text-align: center;
}

.w_1400 {
  width: 1400px;
}

.bg_grey {
  background-color: #e0e0e0;
}

@media only screen and (max-width: 700px) {
  .f_wrap {
    flex-wrap: wrap;
  }
}
