
.price {
    color: grey;
    font-size: 22px;
}
  
.card-heading {
    margin-right: 2px;
}

.card-value {
  font-size: 18px;
}

.key-color {
  color: #483d8b;
}

@media only screen and (max-width: 700px) {
  .width_mobile {
    width: 200px;
  }
}


  